<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="http://localhost:8080/styles/reset.css">
    <link rel="stylesheet" href="http://localhost:8080/styles/iniciosesion/iniciosesion.css">
    <title>Inicio Sesion</title>
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="http://localhost:8080/login" method="POST">
                    <input type="text" name="username" placeholder="Nombre de usuario" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit">Iniciar sesión</button>
                  </form>                  
                  <!--
                <form onsubmit="submitForm(event)">
                    <h2>Inicio de Sesión</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" id="username" required>
                        <label for="">Correo</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="password" required>
                        <label for="">Contraseña</label>
                    </div>
                    <button type="submit">Log in</button>
                    <p id="message"></p>
                </form>-->
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="scripts/login.js"></script>
</body>

</html>
