<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/styles/reset.css">
    <link rel="stylesheet" href="http://localhost:8080/styles/inicio/inicio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="http://localhost:8080/scripts/inicio/inicio.js" defer></script>
    <title>Home</title>
</head>
<body>
    
    <div class="shape"></div>
    <div class="login-btn"></div>

    <header>
        <div class="logo">
            <img src="http://localhost:8080/images/logo.png" title="logo" alt="logo">
        </div>

        <nav>
            <ul>
                <li>
                <li><a href="http://localhost:8080/views/iniciosesion.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="center-background">
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://www.ipn.mx/assets/files/imageninstitucional/imagenes/inicio/banner/carrera11k.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.ipn.mx/assets/files/ccs/img/identidad/2023/09/60gaceta-es.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.ipn.mx/assets/files/ccs/img/identidad/2023/09/identidad-sep2.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
    </main>

    <footer>
        <p class="small">
            &copy; <time>2023</time> | Todos los derechos reservados
        </p>
        <p>INSTITUTO POLITÉCNICO NACIONAL</p>
    </footer>
</body>
</html>