<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/reglamento/reglamento.css">
    <title>Reglamento</title>
</head>
<body>
    <div class="shape"></div>
    
    <header>
        <div class="logo">
            <a href="user.html"><img src="images/logo.png" title="logo" alt="logo"></a>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="#">Horario</a>
                    <ul class="submenu">
                        <li><a href="#">Laboratorio 1</a></li>
                        <li><a href="#">Laboratorio 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Reservar</a></li>
                <li><a href="inicio.html">Salir</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="center-background">
            <section class="card">
                <img src="images/reglamento/user.png" title="usuarios" alt="usuarios" class="users">
                <h2>Para los usuarios</h2>
                <p class="description">
                    I. Todo usuario es responsable del equipo, software, mobiliario y recursos que utilice, por lo que debe
                    operarlos de manera adecuada y reportar al responsable del laboratorio cuando un equipo este dañado.<br>
                    II. Sólo se permitirá la entrada a estudiantes que se hayan registrado en la bitácora del área
                    correspondiente, excepto en las horas asignadas para clases, en las cuales sólo los alumnos de la misma
                    podrán permanecer en el laboratorio.<br>
                    III. En ningún caso, los alumnos podrán modificar o mover equipos de su lugar sin previa autorización.
                    No podrán borrar o cargar software, así como conectar dispositivos o equipo ajeno sin autorización del
                    personal responsable.<br>
                    IV. Todo usuario podrá solicitar en préstamo el equipo y/o material que se encuentre a disposición,
                    siempre y cuando proporcione su credencial de la UPIIT. El préstamo será solamente durante la sesión
                    de trabajo y no podrá ser transferible.<br>
                    V. La prioridad en el uso de las áreas de laboratorio y equipo, la tienen el profesor y los alumnos
                    programados para atender la demanda semestral.
                </p>
            </section>
            <section class="card">
                <img src="images/reglamento/teacher.png" title="personal" alt="personal" class="users">
                <h2>Para el personal responsable del Laboratorio</h2>
                <p class="description">
                    VI. Se considera como personal responsable del laboratorio al profesor encargado de laboratorio así
                    como a los alumnos en servicio social asignados a esas áreas. Durante las sesiones programadas para
                    prácticas en los laboratorios, los profesores a cargo de la misma, se consideran como responsables
                    inmediatos dentro de éste por lo tanto, deberán permanecer en el laboratorio durante toda la sesión.<br>
                    VII. El personal responsable del laboratorio tiene derecho a solicitar al usuario se abstenga del empleo
                    de recursos cuando éste denote desconocer su manejo o cuando el equipo requiera de mantenimiento.<br>
                    VIII. El personal responsable del laboratorio tiene derecho a solicitar identificación, rectificación de su
                    conducta o abandono del área a cualquier usuario y/o procederá a la aplicación de sanción por motivo de
                    violación al presente reglamento.<br>
                    IX. Es obligación del responsable del laboratorio proporcionar acceso a los profesores asignados a la
                    clase. Es obligación del profesor responsable inmediato en uso del laboratorio revisar áreas y equipos al
                    iniciar y una vez concluidas las sesiones.<br>
                </p>
            </section>
            <section class="card">
                <img src="images/reglamento/sancion.png" title="sanciones" alt="sanciones" class="users">
                <h2>Sanciones</h2>
                <p class="description">
                    X. Será motivo de sanción:
                </p>
                <ul class="description">
                    <li>Fumar dentro del laboratorio.</li>
                    <li>Introducir e ingerir bebidas y/o alimentos.</li>
                    <li>Faltar al respeto al personal responsable del laboratorio.</li>
                    <li>Utilizar el equipo en trabajos ajenos a los autorizados dentro de la Unidad.</li>
                    <li>La indisciplina o conducta inadecuada en los laboratorios, así como escuchar música dentro de
                        ellos.</li>
                    <li>Dañar deliberadamente a las instalaciones, equipos, software, accesorios y/o recursos de los
                        laboratorios, así como desconfigurar equipo de cómputo.</li>
                    <li>Desacato al presente reglamento.</li>
                </ul>
            </section>
            <section class="card">
                <img src="images/reglamento/general.png" title="general" alt="general" class="users">
                <h2>Generales</h2>
                <p class="description">
                    XVII. Los responsables del laboratorio serán los encargados de verificar el cumplimiento y ejecución
                    del presente reglamento.<br>
                    XVIII. Cualquier caso no previsto en el presente reglamento será turnado a las Subdirección
                    correspondiente. Estas recomendaciones quedan aprobadas por las autoridades de la UPIIT en el mes de
                    enero del 2023.<br>
                </p>
            </section>
        </section>
    </main>

    <footer>
        <p class="small">
            &copy; <time>2023</time> | Todos los derechos reservados
        </p>
        <p>Unidad Profesional Interdisplinaria de Ingeniería Campus Tlaxcala</p>
    </footer>
</body>
</html>